#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.word-seen, .word-banned, .word-new {
  height: 100%;
  position: ;
}

.word-seen{
  width: 25%;
}

.word-new {
  width: 50%;
  margin: 0 40px;
}

.word-banned{
  width: 25%;
}


body{
  background-color: aqua;
}

ul{
  list-style-type: none;
}